/* shared color */
.primary-color{
     color: #4E47FF;
}
/* shared button */
.primary-btn{
    font-size: 16px;
    background-color: #4E47FF;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 12px 36px;
}
/* shared font */
.inter{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.logo{
    font-size: 34px;
    font-weight: 800;
}
*{ 
    margin: 0;
    padding: 0;
}
/* header section */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    height: 698px;
}
header nav{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}
/* hero section */
.hero{
    text-align: center;
}
header section{
    padding: 158px 267px;
    width: 905px;
    height: 270px;
    margin: 0 auto;
}
.hero-title{
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 65px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* action section */
.action{
    margin-top: 117px;
    width: 100%;
    height: 324px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-left{
    width: 516px;
    margin: 62.5px 0;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-subtitle{
    margin:23px 0px;
    font-size: 24px;
    color: #252432;
}
.action-img{
    width: 100%;
    border-radius: 48px;
}
/* product user section */
.product-user{
    margin-top: 116px;
    border-radius: 24px;
    background-color: #e5e7ffd5;
    height: 306px;
}
.user-product-section{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-data{
    margin: 30px;
    display: flex;
    gap: 158px;
}
.user-title{
    color: #252432;
    font-size: 38px;
    font-weight: 700;
}
.user-h-title{
    font-size: 80px;
    font-weight: 700;
}
.element-des{
    text-align: center;                            
    color: #2A2020;
    font-size: 20px;
}

